.chatbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #fff;
  margin: 20px 15px 20px 18px;
}

.messages_list_container {
  margin-top: auto;
  padding: 15px 0 0 0;
  overflow: hidden;
  overflow: scroll;
  list-style: none;
}

.favicon {
  position: absolute;
  top: 30px;
  z-index: 9;
  background: none;
  border: none;
}

.messages_list_nav {
  width: 80%;
  position: absolute;
  top: 0px;
  border-bottom: thin solid lightgray;
  background: white;
  margin: 0 0 0 -18px;
  height: 50px;
}

.message_container {
  display: flex;
  margin: 5px;
}

.default_user_img {
  height: 35px;
  border-radius: 4px;
  margin: 5px;
}

.message_author {
  list-style: none;
  margin: 5px 5px 3px 0;
}

.messages_author {
  margin: 0 0 0 5px;
  padding: 0px;
}

.message_body {
  font-family: "Roboto", sans-serif;
  list-style: none;
  margin: px 10px 0px 10px;
  padding: 0px;
  font-size: 12px;
  line-height: 1.5;
}

.messages_time {
  color: #ab9ba9;
  font-size: 11px;
  padding: 5px 0 0 5px;
}

.message-input {
  width: 99%;
  height: 35px;
  border: 2px solid rgba(145, 145, 147, 0.7);
  border-radius: 4px;
  margin: 20px 0 20px 0;
  padding: 2px 2px 2px 8px;
  font-size: 16px;
  font-weight: 100;
}

.message-submit {
  display: none;
}

.messages_list_channel_name {
  position: absolute;
  top: 10px;
  z-index: 9;
}

.delete_message_button {
  background: none;
  border: none;
  margin-top: 8px;
  margin-left: auto;
  height: 20px;
}

.delete_message_button.hidden {
  display: none;
}
