.sidebar-container {
  height: 100%;
  background: #4d394b;
  min-width: 200px;
}

.sidebar-title {
  color: #fff;
  margin: 11px 0 0 14px;
  font-size: 16px;
}

.green-dot {
  position: absolute;
  top: 29px;
  left: 14px;
  color: #38978d;
  font-size: 18px;
}

.sidebar-username {
  font-family: "Montserrat", sans-serif;
  color: #ab9ba9;
  margin: 2px -5px 0 30px;
  font-size: 12px;
}

.sidebar-signout {
  font-family: "Montserrat", sans-serif;
  color: #ab9ba9;
  margin: 2px -5px 0 30px;
  font-size: 12px;
}

.sidebar-signout:hover {
  cursor: pointer;
  color: rgb(202, 196, 201);
}

.conversation-container {
  color: rgb(202, 196, 201);
  font-family: "PT Sans", sans-serif;
  margin: 20px 0 0 10px;
}

.conversation-ul {
  font-family: "Montserrat", sans-serif;
  list-style: none;
  padding: 0 0 0 0;
  margin: 0 0 0 15px;
  color: #ab9ba9;
}

.conversation-li {
  color: #ab9ba9;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin: 4px 0 0 0;
  list-style: none;
  text-decoration: none;
  background: none;
  border: none;
}

.conversation-li:hover {
  cursor: pointer;
  color: rgb(202, 196, 201);
}

.create_new_channel {
  margin: 0 0 0 90px;
  padding: 0px;
  background: none;
  border: none;
  font-size: 22px;
  color: #ab9ba9;
}

.create_new_channel:hover {
  cursor: pointer;
  color: rgb(202, 196, 201);
}

.create_new_dm {
  margin: 0 0 0 41px;
  padding: 0px;
  background: none;
  border: none;
  font-size: 22px;
  color: #ab9ba9;
}

.create_new_dm:hover {
  cursor: pointer;
  color: rgb(202, 196, 201);
}

.channel_detail_button {
  font-family: "PT Sans", sans-serif;
  background: none;
  border: none;
  color: #ab9ba9;
  font-size: 16px;
}

.channel_detail_button:hover {
  cursor: pointer;
  color: rgb(202, 196, 201);
}

.delete_channel_button {
}
