// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
}

.greeting-container {
  // display: flex
}

.greeting-header {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  margin: 0;
}

.signin-signup {
  margin: 10px 0px;

}

.logo {
  margin-top: 6px;
  margin-left: 5px;
  height: 30px;
}

.left-nav {
  display: flex;
}


// background-image: url('images/slack_logo.jpg');
