// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Merriweather:900");
@import url("https://fonts.googleapis.com/css?family=Lato:700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200");

html {
  margin: auto;
}

body {
  font-family: "Lato", sans-serif;
  color: rgb(50, 54, 72);
  margin: 0;
}

#root {
  margin: 0;
}

.main-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
}

input {
  background: none;
  border: none;
}
