.splash-container {
  border-bottom: 5px;
  min-width: 1135px;
  max-width: 900px;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.splash-header {
  display: flex;
  justify-content: space-between;
  margin: 10px 5px 0px 0;
}

.splash-body-container {
  display: flex;
  margin: 100px 0 0 80px;
}

.splash-pic-container {
  margin: 0 60px 0 0;
}

.splash-photo {
  height: 400px;
  width: 325px;
}

.splash-title {
  font-size: 68px;
  font-weight: bold;
  font-family: "Merriweather", serif;
  margin: 0 0 30px 0;
  line-height: 1.1;
}

.splash-message {
  font-size: 20px;
  color: #5b5e6d;
  line-height: 1.5;
}

.get-started-button {
  display: inline-block;
  text-decoration: none;
  padding: 19px 40px 20px;
  margin: 20px 0 10px 0;
  background-color: #3f46ad;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.get-started-button:hover {
  cursor: pointer;
  background-color: #1c299d;
}

.get-started-text {
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: normal;
  font-size: 0.875rem;
  color: #5b5e6d;
}

.get-started-signin {
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: normal;
  font-size: 0.875rem;
  color: #3f46ad;
}

.splash-mid-message-container {
  margin: 150px 0 80px 0;
  text-align: center;
}

.splash-mid-title {
  font-family: "Merriweather", serif;
  font-size: 30px;
}

.splash-mid-message {
  margin: auto;
  color: #5b5e6d;
  line-height: 1.7;
  font-size: 16px;
  width: 100%;
  max-width: 700px;
}

.splash-icons-container {
  display: flex;
  width: 100%;
}

.splash-icon {
  border-bottom: 5px;
  max-width: 100%;
  max-height: 100%;
  margin: 0 10px 0 10px;
  width: 90%;
}

.splash-icon-img {
  height: 55px;
}

.splash-icon-title {
  font-size: 14px;
}

.splash-icon-p {
  color: #5b5e6d;
  line-height: 1.7;
  font-size: 12.5px;
  width: 100%;
  padding: 0;
}

.splash-bottom-button {
  display: flex;
  justify-content: center;
  color: #3f46ad;
  margin: 40px 0 100px 0;
}
